footer.page-footer.font-small.blue.pt-4
  //- Footer Links
  .container.text-center.text-md-left
    //- Grid row
    .d-sm-none.d-md-block
      .row.footer-content
        //- Grid column
        hr.clearfix.w-100.d-md-none.pb-3
        //- Grid column
        .col-md-3.mb-md-0.mb-3
          //- Links
          h5.title.mb-3 Airbnb
          - var airbnbCategories = ["Careers", "Press", "Policies", "Help", "Diversity & Belonging"]
          ul.list-unstyled.category
            each item in airbnbCategories
              li
                a(href='#!')= item
        //- Grid column
        //- Grid column
        .col-md-3.mb-md-0.mb-3
          //- Links
          h5.title.mb-3 Discover
          - var airbnbCategories = ["Trust & Safety", "Travel Credit", "Gift Cards", "Airbnb Citizen", "Business Travel", "Guidebooks", "Airbnbmag", "Events"]
          ul.list-unstyled.category
            each item in airbnbCategories
              li
                a(href='#!')= item
        .col-md-3.mb-md-0.mb-3
          //- Links
          h5.title.mb-3 Hosting
          - var airbnbCategories = ["Why Host", "Hospitality", "Responsible Hosting", "Community Center", "Host an Experience", "Open Homes"]
          ul.list-unstyled.category
            each item in airbnbCategories
              li
                a(href='#!')= item
        .col-md-3.mb-md-0.mb-3
          //- Links
          h5.title.mb-3 
            span.social-network-share
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
          - var airbnbCategories = ["Terms", "Privacy", "Site Map"]
          ul.list-unstyled.category
            each item in airbnbCategories
              li
                a(href='#!')= item
        //- Grid column
        //- Grid row
        //- Footer Links

    //- Copyright
    .footer-copyright.text-left.py-3.col-6
      - var imgUrl = "./assets/images/favicons/anb-favicon.png"
      img(src=imgUrl, alt="", height=21, width=21)
      span 
      | © Airbnb, Inc.
    .col-6.text-right(style='display: inline-block;')
      button.btn.btn-default(style="margin-right: 15px") English
      
      button.btn.btn-default VND

    //- Copyright
  
//- Footer