//- src/views/mixins/dropdown.pug
mixin suggestionBlock(informations)
  .suggestion-block.col-sm-12.col-md-12.col-lg-12.col-xl-3
    div.house-image(style=`background-image: url("${informations.imgUrl}");`)
    .house-category
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">ENTIRE HOUSE</a></li>
        <li class="breadcrumb-item"><a href="#">JOSHUA TREE</a></li>
      </ol>
    .house-title
      h4 <b>The Joshua Tree House</b>
    .description= `${informations.price} per night . ${informations.description}`
    .rate
      span.rating-icon
        span.fa.fa-star.checked
        span.fa.fa-star.checked
        span.fa.fa-star.checked
        span.fa.fa-star.checked
        span.fa.fa-star.checked
      if informations.ratings > 300
        span.rating-nums=`${informations.ratings} • Superhost`
      else
        span.rating-nums=`${informations.ratings}`
          //- var imgUrl = "./assets/images/backgrounds/header.jpg"